.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.product {
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.wishlist {
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: rgb(20, 20, 133);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.App-link {
  color: #61dafb;
}
.App-main {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
}

.App-header h2 {
  font-size: 3em;
  color: white;
  position: absolute;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
